<div class="container">
  <h1>Forgot your password?</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="col-sm-12 form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Name", :required => true %>
    </div>

    <%= f.submit "Send me reset password instructions", class: 'btn btn-block' %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
