<% unless @comments.empty? %>
  <h4>Al reviews</h4>
  <div id="product-reviews">
    <% @comments.each do |comment| %>
      <div class="row">
        <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
        <div class="rated" data-score="<%= comment.rating %>"></div>
        <p><%= comment.body %></p>
        <% if signed_in? && current_user.admin? %>
          <%= link_to ('<i class="delete fas fa-trash"></i>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @comments %>
  </div>
<% end %>