<section id="product" class="container">
  <h1>Product</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@product.image_url, class: "card-img-top", alt: 'product_img')%>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Data</h3>
      <p>
        <span><i class="fab fa-product-hunt"></i> Name:</span>
        <%= @product.name %>
      </p>

      <p>
        <span><i class="fas fa-palette"></i> Color:</span>
        <%= @product.colour %>
      </p>

      <p>
        <span><i class="fas fa-dollar-sign"></i> Price:</span>
        <%= @product.price %>
      </p>

      <p>
        <span><i class="fas fa-align-left"></i> Description:</span>
        <%= @product.description %>
      </p>

      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    </div>
    <div class="review-container col-sm-12">
      <%= render "new_comment" %>

      <%= render 'comments' %>
    </div>
  </div>
</section>



